<header class="pb-header">
	<div class="container-fluid">
      <div class = "pull-left">
          <p class = "pb-nav-header">
              <strong>Poseboards</strong>
              <button class="btn btn-default">
                  <i class="fa fa-bars"></i>
                  <i class="fa fa-caret-down"></i>
              </button>
          </p>
      </div>
    <div class = "pull-right pb-header-btns">
        <button class = "btn btn-default pb-header-upload-btn">Upload</button>
        <button class = "btn btn-default"><i class= "fa fa-user"></i></button>
        <button class = "btn btn-default"><i class= "fa fa-circle-o-notch"></i></button>
    </div>
  </div>
</header>
