<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class = "row">
          <div class = "col-lg-3 pb-logo-button">
              <h5><strong>Pose<div id = "boardTextStyle">boards</strong></div>
          <button class = "btn btn-default">   <i class="fa fa-bars"></i>  <i class="fa fa-caret-down"></i></button> </h5>
          </div>
          <div class = "col-lg-6 pb-searchbar">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
              </div>
          </div>
          <div class = "col-lg-3">
              <button class = "btn btn-default">Upload</button>
              <a href = "#"><i class = "fa fa-bell"></i></a>
              <a href = "#"><i class = "fa fa-user-plus"></i></a>
          </div>
       </div>
      </div>




  </div>
</nav>