<nav class="navbar navbar-default">
  <div class="container-fluid">
      <h5><strong>Pose<div id = "boardTextStyle">boards</strong></div>
      <button class = "btn btn-default">   <i class="fa fa-bars"></i>  <i class="fa fa-caret-down"></i></button> </h5>
  </div>
</nav>