<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="img-responsive" src="http://logo-city.org/data_images/7387/7AC/98392.png">
    </a>
    <ul>
      <li>
        <h5>Poseboards</h5>
      </li>
      <li>
        <p>Featured</p>
      </li>
      <li>
        <p>New</p>
      </li>
      <li>
        <p>Upload</p>
      </li>
    </ul>
  </div>
</nav>