<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-6 col-xs-12">
      <h3>Upload something!</h3>
      <form class="form-horizontal" method="post" action="/animations" enctype="multipart/form-data">
        <div class="form-horizontal">
          <input class="btn btn-primary form-control" type="file" name="dougs" accept="image/*">
        </div>
        <div class="form-horizontal">
          <input class="input-md form-control" name="title" id="upload-name" type="text">
        </div>
        <div class="form-horizontal">
          <input class="btn btn-primary form-control" type="submit">
        </div>
      </form>
    </div>
  </div>
</div>