<section id="pb-generatedPage">
  <div class="container container-main">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1>{{upload.title}}</h1>
        <canvas id="uploadedAnimation" width="100" height="100" style="border:3.5px solid #bfbfbf;">
        </canvas>
      </div>
      <div class="col-lg-6">
        <h2><span></span><strong><a href="#">@jdoubleua</a></strong><i class="glyphicon glyphicon-user"></i></h2>
      <div class="ui-controls">
        <h2>UI Controls</h2>
        <button type="button" class="btn btn-success" id="play">Play</button>
        <button type="button" class="btn btn-danger" id="pause">Pause</button>
        <button type="button" class="btn btn-warning" id="prevFrame">Previous</button>
        <button type="button" class="btn btn-warning" id="nextFrame">Next</button>
      </div>
      <div class="col-lg-6">
        <img src="../{{upload.filename}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h3>{{upload.title}}</h3>
      <h2>Comments:</h2>
      <input class="form-group input-comment" type="text" placeholder=" Write Comment..."/>
      <button type="button" class="btn btn-group btn-lg btn-primary submit-button">Submit</button>
      <div class="media">
        <media-heading>
          <h3>@jdoubleua</h3>
        </media-heading>
        <media-body>
          <p>This is good work!</p>
        </media-body>
        </div>
        <div class="media">
          <media-heading>
            <h3>@jdoubleua</h3>
          </media-heading>
          <media-body>
            <p>This is good work!</p>
          </media-body>
        </div>
      </div>
      <div class="col-lg-6">
        <h2>Advertisements:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <p>Testing paragraphs</p>
      </div>
      <div class="col-lg-3">
        <p>Testing paragraphs</p>
      </div>
      <div class="col-lg-3">
        <p>Testing paragraphs</p>
      </div>
      <div class="col-lg-3">
        <p>Testing paragraphs</p>
      </div>
    </div>
  </div>
</section>

<script src="../../assets/js/lib/jquery.js"></script>
<script src="../../assets/animation.js"></script>
<script src="../../assets/board.js"></script>
<script>
  var canvas = document.getElementById("uploadedAnimation");
  var ctx = canvas.getContext("2d"); 
  var fps = (1000 / 10); 
  var image = new Image(); 
  image.src = '../{{upload.filename}}'; 
  var a = new Animation(100, 100, ctx, image, 4, fps); 
  a.start();
</script>