<section id = "pb-filer">
  <div class = "container-main">
    <div class = "row">
      <di class = "col-lg-12">
        <h1>Browse</h1>
        <h2>{{greeting}}</h2>
        <ol class = "breadcrumb">
          <li>Browse</li>
          <li>General</li>
        </ol>
        <table class = "table table-responsive table-bordered">
          <thead>
            <tr>
              <td>Name:</td>
              <td>Category</td>
              <td>User</td>
              <td>Views</td>
            </tr>
          </thead>
          <tbody>
            {{#each uploads}}
            <tr>
              <td><a href = "/gen">{{this.title}}</a></td>
              <td><a href = "/animations/{{_id}}"><img src="../{{this.filename}}"></a></td>
              <td><a href = "#">@jdoubleua</a></td>
              <td>301+</td>
            </tr>
            {{/each}}
            <tr>
              <td><a href = "/gen">Robot Running</a></td>
              <td><a href = "/filter">Misc.</a></td>
              <td><a href = "#">@jdoubleua</a></td>
              <td>301+</td>
            </tr>
          </tbody>
        </table>
      </di>
    </div>
  </div>
</section>
