<div class="bg-white" id="style-guide">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xxs-12">
        <h2 class="section-header">Color Palette</h2>
        <h6 class="sub-head">Primary Palette</h6>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="palettes list-unstyled">
        <li class="col-md-4 col-sm-4 col-xxs-6">
          <div class="palette" style="background-color: #19376A">
            #19376A
          </div>
          <h5><code>$primarydark</code></h5>
        </li>
        <li class="col-md-4 col-sm-4 col-xxs-6">
          <div class="palette" style="background-color: #EE3233">
            #EE3233
          </div>
          <h5><code>$primarylight</code></h5>
        </li>
        <li class="col-md-4 col-sm-4 col-xxs-6">
          <div class="palette" style="background-color: #94D500">
            #94D500
          </div>
          <h5><code>$green</code></h5>
        </li>        
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xxs-12">
        <h6 class="sub-head">Secondary Palette</h6>
        <div class="row">
          <ul class="palettes list-unstyled">
            <li class="col-md-4 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #FF8F12">
                #FF8F12
              </div>
              <h5><code>$orange</code></h5>
            </li>
            <li class="col-md-4 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #FFFE59">
                #FFFE59
              </div>
              <h5><code>$yellow</code></h5>
            </li>
            <li class="col-md-4 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #C9C8C7">
                #C9C8C7
              </div>
              <h5><code>$primarygray</code></h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xxs-12">
        <h6 class="sub-head">Black &amp; Gray Palette</h6>
        <div class="row">
          <ul class="palettes list-unstyled">
            <li class="col-md-2 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #231F20">
                #231F20
              </div>
              <h5><code>$black</code></h5>
            </li>
            <li class="col-md-2 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #404041">
                #404041
              </div>
              <h5><code>$black90</code></h5>
            </li>
            <li class="col-md-2 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #6d6e71">
                #6d6e71
              </div>
              <h5><code>$black70</code></h5>
            </li>
            <li class="col-md-2 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #929497">
                #929497
              </div>
              <h5><code>$black50</code></h5>
            </li>
            <li class="col-md-2 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #D0D2D3">
                #D0D2D3
              </div>
              <h5><code>$black20</code></h5>
            </li>
            <li class="col-md-2 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #E6E7E8">
                #E6E7E8
              </div>
              <h5><code>$black10</code></h5>
            </li>
            <li class="col-md-2 col-sm-4 col-xxs-6">
              <div class="palette" style="background-color: #F1F1F2">
                #F1F1F2
              </div>
              <h5><code>$black5</code></h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xxs-12">
        <h6 class="sub-head">Hover States</h6>
        <div class="row">
          <ul class="palettes hover-states list-unstyled">
            <li class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
              <div class="row">
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #19376A">
                    #19376A
                  </div>
                  <h5><code>$primarydark</code></h5>
                </div>
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #0F2140">
                    #174E7A
                  </div>
                  <h5><code>$primarydarkhover</code></h5>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
              <div class="row">
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #EE3233">
                    #EE3233
                  </div>
                  <h5><code>$primarylight</code></h5>
                </div>
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #901115">
                    #00CFFF
                  </div>
                  <h5><code>$primarylighthover</code></h5>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
              <div class="row">
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #C9C8C7">
                    #C9C8C7
                  </div>
                  <h5><code>$primarygray</code></h5>
                </div>
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #DDDDDD">
                    #DDDDDD
                  </div>
                  <h5><code>$primarygrayhover</code></h5>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
              <div class="row">
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #94d500">
                    #94d500
                  </div>
                  <h5><code>$green</code></h5>
                </div>
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #a8e205">
                    #A8E205
                  </div>
                  <h5><code>$greenhover</code></h5>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
              <div class="row">
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #FF8F12">
                    #FF8F12
                  </div>
                  <h5><code>$orange</code></h5>
                </div>
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #FFA750">
                    #FFA750
                  </div>
                  <h5><code>$orangehover</code></h5>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
              <div class="row">
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #FFFE59">
                    #FFFE59
                  </div>
                  <h5><code>$yellow</code></h5>
                </div>
                <div class="col-lg-6 col-xxs-6">
                  <div class="palette" style="background-color: #D2D149">
                    #FC5E6E
                  </div>
                  <h5><code>$yellowhover</code></h5>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xxs-12">
        <h2 class="section-header">Buttons</h2>
        <p class="meta sggray">All buttons are rounded with a border radius of 5px.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xxs-12">
        <h6 class="sub-head">Color Variations</h6>
        <div class="row">
          <ul class="buttons color-variations list-unstyled">
            <li class="col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn light">Button</button>
              <button type="button" class="btn light hover">Button</button>
              <h5>Light Button<br /><code>.btn .light</code></h5>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn dark">Button</button>
              <button type="button" class="btn dark hover">Button</button>
              <h5>Dark Button<br /><code>.btn .dark</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn green">Register</button>
              <button type="button" class="btn green hover">Register</button>
              <h5>Green Button<br /><code>.btn .green</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn orange">Button</button>
              <button type="button" class="btn orange hover">Button</button>
              <h5>Orange Button<br /><code>.btn .orange</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn red">Delete</button>
              <button type="button" class="btn red hover">Delete</button>
              <h5>Red Button<br /><code>.btn .orange</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn lightgray">Button</button>
              <button type="button" class="btn lightgray hover">Button</button>
              <h5>Light Gray Button<br /><code>.btn .lightgray</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn darkgray">Button</button>
              <button type="button" class="btn darkgray hover">Button</button>
              <h5>Dark Gray Button<br /><code>.btn .darkgray</code></h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xxs-12">
        <h6 class="sub-head">Size &amp; Style Variations</h6>
        <div class="row">
          <ul class="buttons size-variations list-unstyled">
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn light btn-sm">Button</button>
              <button type="button" class="btn light hover btn-sm">Button</button>
              <h5>Small Button<br /><code>.btn .btn-sm</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn light">Button</button>
              <button type="button" class="btn light hover">Button</button>
              <h5>Medium Button<br /><code>.btn</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn light btn-lg">Button</button>
              <button type="button" class="btn light hover btn-lg">Button</button>
              <h5>Large Button<br /><code>.btn .btn-lg</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn light btn-xl">Button</button>
              <button type="button" class="btn light hover btn-xl">Button</button>
              <h5>Extra-Large Button<br /><code>.btn .btn-xl</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn outline">Button</button>
              <button type="button" class="btn outline hover">Button</button>
              <h5>Outline Button<br /><code>.btn .outline</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn disabled">Button</button>
              <h5>Disabled Button<br /><code>.btn .disabled</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn light"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Button</button>
              <button type="button" class="btn light hover"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Button</button>
              <h5>Icon Button<br /><code>.btn .light</code></h5>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6">
              <button type="button" class="btn tag">Tag</button>
              <button type="button" class="btn tag">Button</button>
              <h5>Tags<br /><code>.btn .tag</code></h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="buttons control-buttons list-unstyled">
        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
          <button type="button" class="btn ctrl"><i class="fa fa-plus"></i></button>
          <button type="button" class="btn ctrl"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn ctrl"><i class="fa fa-times"></i></button>
          <button type="button" class="btn ctrl"><i class="fa fa-globe"></i></button>
          <h5>Expand / Collapse / Close / Icon <code>.btn .ctrl</code></h5>
        </li>
      </ul>
    </div>
    <br />
    <div class="row">
      <ul class="buttons button-options list-unstyled">
        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
          <button type="button" class="btn">Month</button>
          <button type="button" class="btn outline">Day</button>
          <button type="button" class="btn outline">List</button>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
          <button type="button" class="btn">Month</button>
          <button type="button" class="btn outline">Day</button>
          <button type="button" class="btn outline">List</button>
        </li>
      </ul>
    </div>
    <br />
    <div class="row">
      <ul class="buttons button-options list-unstyled">
        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
          <div class="btn-group">
            <button type="button" class="btn outline">Today</button>
            <button type="button" class="btn ctrl"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn ctrl hover"><i class="fa fa-chevron-right"></i></button>
          </div>
          <h5>Button Group <code>.btn-group</code></h5>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
          <div class="btn-group">
            <button type="button" class="btn outline">Today</button>
            <button type="button" class="btn ctrl"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn ctrl hover"><i class="fa fa-chevron-right"></i></button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <br /><br />
    <h6 class="sub-head">Social Media</h6>
    <div class="row">
      <ul class="buttons social-media list-unstyled">
        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
          <button type="button" class="btn btn-sm facebook"><i class="fa fa-facebook"></i> Facebook</button>
          <button type="button" class="btn btn-sm facebook hover"><i class="fa fa-facebook"></i> Facebook</button>
          <h5>Facebook <code>.btn .facebook</code></h5>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
          <button type="button" class="btn btn-sm gplus"><i class="fa fa-google-plus"></i> Google Plus</button>
          <button type="button" class="btn btn-sm gplus hover"><i class="fa fa-google-plus"></i> Google Plus</button>
          <h5>Google Plus <code>.btn .gplus</code></h5>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul class="buttons social-media list-unstyled">
        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
          <button type="button" class="btn btn-sm pinterest"><i class="fa fa-pinterest-p"></i> Pinterest</button>
          <button type="button" class="btn btn-sm pinterest hover"><i class="fa fa-pinterest-p"></i> Pinterest</button>
          <h5>Pinterest <code>.btn .pinterest</code></h5>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
          <button type="button" class="btn btn-sm twitter"><i class="fa fa-twitter"></i> Twitter</button>
          <button type="button" class="btn btn-sm twitter hover"><i class="fa fa-twitter"></i> Twitter</button>
          <h5>Twitter <code>.btn .twitter</code></h5>
        </li>
      </ul>
    </div>
    <br /><br />
    <h6 class="sub-head">Arrows</h6>
    <div class="row">
      <ul class="buttons arrow-buttons list-unstyled">
        <li class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <div class="btn-group">
            <button type="button" class="btn ctrl"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn ctrl hover"><i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn ctrl hover"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn ctrl"><i class="fa fa-chevron-right"></i></button>
          </div>
        </li>
        <li class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <div class="btn-group">
            <button type="button" class="btn dark ctrl"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn dark ctrl hover"><i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn dark ctrl hover"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn dark ctrl"><i class="fa fa-chevron-right"></i></button>
          </div>
        </li>
        <li class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <div class="btn-group">
            <button type="button" class="btn green ctrl"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn green ctrl hover"><i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn green ctrl hover"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn green ctrl"><i class="fa fa-chevron-right"></i></button>
          </div>
        </li>
        <li class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <div class="btn-group">
            <button type="button" class="btn red ctrl"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn red ctrl hover"><i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn red ctrl hover"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn red ctrl"><i class="fa fa-chevron-right"></i></button>
          </div>
        </li>
        <li class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <div class="btn-group">
            <button type="button" class="btn orange ctrl"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn orange ctrl hover"><i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn orange ctrl hover"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn orange ctrl"><i class="fa fa-chevron-right"></i></button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid sg-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xs-12 entry-content">
          <h6 class="sg-header">Section Header</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xs-12 entry-content">
          <h4 class="section-header">Section Header</h4>
          <p class="subhead">Days coffin casper slide skate key handplant. Lip pivot cab flip Kevin Harris pop shove-it. John Grigley manual late dude carve finger flip. Locals front foot impossible hip kingpin pump blunt aerial Upland. Stoked tailslide poseur steps ollie lipslide hurricane. Nosegrind kidney coper nollie coffin bank no comply. Front foot impossible launch ramp nose blunt pop shove-it noseblunt slide rock and roll 50-50</p>
        </div>
      </div>
    </div>
  </div>
<br />
<br />
<br />
</div>