/* ========================
                      FONTS
========================= */
$primarysans: 'Open Sans', sans-serif;
$primaryserif: 'PT Sans Narrow', sans-serif;

/* ========================
                     COLORS
========================= */

// PRIMARY COLOR

$primarylight: #EE3233;
$primarylighthover: #901115;

$primarydark: #19376A;
$primarydarkhover: #0F2140;


// SECONDARY COLOR
$secondarylight: #00b2e2;
$secondarylighthover: #00cfff;
$secondarydark: #000063;
$secondarydarkhover: #000035;

// PRIMARY GREYS
$primarygrey: #c9c8c7;
$primarygreyhover: #dddddd;

$primarygreylight: #f8f8f8;
$primarygreymed: #bbbdbf;
$primarygreydark: #6c6d6f;

// SECONDARY GREYS
$secondarygreylight: #f8f8f8;
$secondarygreymed: #bbbdbf;
$secondarygreydark: #6c6d6f;
$sggray: #a6a8ab;

// LIGHT => DARK
$white: #ffffff;
$black5: #f1f1f2;
$black10: #e6e7e8;
$black20: #d0d2d3;
$black50: #929497;
$black70: #6d6e71;
$black90: #404041;
$black: #231f20;

// COLORS
$red: #f6323e;
$redhover: #fc5e6e;

$blue: #00b2e2;
$bluehover: #00cfff;

$green: #94d500;
$greenhover: #a8e205;

$yellow: #FFFE59;
$yellowhover: #D2D149;

$orange: #ff8f12;
$orangehover: #ffa750;