nav.navbar.navbar-default {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
  background-color: $white;
  ul {
      text-align: left;
    li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .img-responsive {
    height: 30px;
    margin-top: -5px;
  }
}