@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);


h1 { font-size: 75px; }
h2 { font-size: 65px; }
h3 { font-size: 48px; }
h4 { font-size: 32px; }
h5 { font-size: 27px; }
h6 { font-size: 18px; text-transform: uppercase; }