// FONT COLORS
.darkblue { color: $bluehover; }
.lightblue { color: $blue; }
.gray { color: $primarygrey; }
.green { color: $green; }
.sggray { color: $sggray; }


// BACKGROUND COLORS
.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
.bg-black5 { background-color: $black5; }
.bg-black10 { background-color: $black10; }
.bg-primarylighthover { background-color: $primarylighthover; }
.bg-primarydark { background-color: $primarydark; }
.bg-primarydarkhover { background-color: $primarydarkhover; }
.bg-primarylight { background-color: $primarylight; }
.bg-blue { background-color: $blue; }
.bg-green { background-color: $green; }
.bg-yellow { background-color: $yellow; }
.bg-primarygrey { background-color: $primarygrey; }